// Place all the styles related to the runs controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

@import "variables";

.centered {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.progress-numbers {
  margin-right: 10px;
  float: left;
}

.progress-foo {
  margin: 0;
}

.party-select {
  margin-bottom: 5px;
  text-decoration: none !important;
  background-image: none;
}

form.button_to {
  display: inline;
  & > div {
    display: inline;
  }
}

.party-select-group {
  margin: 0 auto;
  outline: 1px solid @gray-dark;
  max-width: 680px;
}

.poster-text {
  margin: 10px;
  font-size: large;
  font-weight: bold;
}

.well {
  background-color: @gray-lighter;
}

.bar.lavish {
  background-color: @gray-dark;
  background-image: none;
}

.navbar .nav li a {
  padding: 15px;
}

.result-table i {
  font-size: large;
}

.result-table tr:hover td {
  background-color: @gray-lighter !important;
}

.fb-share-button {
  top: -5px;
}

.bubble {
  position: relative;
  width: 270px;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #7F7F7F solid 5px;
  margin-bottom: 30px;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 19px 12px 0;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -12px;
  bottom: -19px;
  left: 29%;
}

.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 23px 16px 0;
  border-color: #7F7F7F transparent;
  display: block;
  width: 0;
  z-index: 0;
  margin-left: -16px;
  bottom: -28px;
  left: 29%;
}
