// Place all the styles related to the runs controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.progress-numbers {
  margin-right: 10px;
  float: left;
}

.progress-foo {
  margin: 0;
}

.party-select {
  &:first-child {
    margin: 0
  }
  margin-left: 5px;
}
